.menu__item {
	position: relative;
	display:inline-block;
	outline: none;
	padding: 1px 16px; 
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu--ama {
	counter-reset: itemCounter; text-align: center;
}

.menu--ama .menu__item {
	font-size: 11px;
	font-weight: 300;
	margin-bottom: 1em;
	padding-left: 0.5em;
	color: #333; 
}

.menu--ama .menu__item:hover::before,
.menu--ama .menu__item:focus::before {
	color: var(--menu-item-color);
}

.menu--ama .menu__item-name {
	font-size: 1.4em;
	font-weight: 300;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em 0 0 0;
	white-space: pre;
	text-transform:uppercase;
}

.menu--ama .menu__item-name::after {
	background: var(--menu-item-color);
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
}

.menu--ama .menu__item:hover .menu__item-name::after,
.menu--ama .menu__item:focus .menu__item-name::after,
.menu--ama .menu__item:active .menu__item-name::after  {
	transform: scale3d(1,1,1);
}

.menu--ama .menu__item-name span {
	display: inline-block;
}
