* {
  direction: rtl!important;
}
.jsn-es-slider * {
  direction: ltr !important ;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: right;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
    float: right;
  }
  .col-sm-push-1 {
    right: 8.33333%;
  }
  .col-sm-push-2 {
    right: 16.66667%;
  }
  .col-sm-push-3 {
    right: 25%;
  }
  .col-sm-push-4 {
    right: 33.33333%;
  }
  .col-sm-push-5 {
    right: 41.66667%;
  }
  .col-sm-push-6 {
    right: 50%;
  }
  .col-sm-push-7 {
    right: 58.33333%;
  }
  .col-sm-push-8 {
    right: 66.66667%;
  }
  .col-sm-push-9 {
    right: 75%;
  }
  .col-sm-push-10 {
    right: 83.33333%;
  }
  .col-sm-push-11 {
    right: 91.66667%;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-offset-1 {
    margin-right: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-right: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-right: 25%;
  }
  .col-sm-offset-4 {
    margin-right: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-right: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-right: 50%;
  }
  .col-sm-offset-7 {
    margin-right: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-right: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-right: 75%;
  }
  .col-sm-offset-10 {
    margin-right: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-right: 91.66667%;
  }
  .navbar-nav > li {
	float: right;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: right;
  }
  .col-md-push-0 {
    right: auto;
  }
  .col-md-push-1 {
    right: 8.33333%;
  }
  .col-md-push-2 {
    right: 16.66667%;
  }
  .col-md-push-3 {
    right: 25%;
  }
  .col-md-push-4 {
    right: 33.33333%;
  }
  .col-md-push-5 {
    right: 41.66667%;
  }
  .col-md-push-6 {
    right: 50%;
  }
  .col-md-push-7 {
    right: 58.33333%;
  }
  .col-md-push-8 {
    right: 66.66667%;
  }
  .col-md-push-9 {
    right: 75%;
  }
  .col-md-push-10 {
    right: 83.33333%;
  }
  .col-md-push-11 {
    right: 91.66667%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-offset-0 {
    margin-right: 0;
  }
  .col-md-offset-1 {
    margin-right: 8.33333%;
  }
  .col-md-offset-2 {
    margin-right: 16.66667%;
  }
  .col-md-offset-3 {
    margin-right: 25%;
  }
  .col-md-offset-4 {
    margin-right: 33.33333%;
  }
  .col-md-offset-5 {
    margin-right: 41.66667%;
  }
  .col-md-offset-6 {
    margin-right: 50%;
  }
  .col-md-offset-7 {
    margin-right: 58.33333%;
  }
  .col-md-offset-8 {
    margin-right: 66.66667%;
  }
  .col-md-offset-9 {
    margin-right: 75%;
  }
  .col-md-offset-10 {
    margin-right: 83.33333%;
  }
  .col-md-offset-11 {
    margin-right: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: right;
  }
  .col-lg-push-0 {
    right: auto;
  }
  .col-lg-push-1 {
    right: 8.33333%;
  }
  .col-lg-push-2 {
    right: 16.66667%;
  }
  .col-lg-push-3 {
    right: 25%;
  }
  .col-lg-push-4 {
    right: 33.33333%;
  }
  .col-lg-push-5 {
    right: 41.66667%;
  }
  .col-lg-push-6 {
    right: 50%;
  }
  .col-lg-push-7 {
    right: 58.33333%;
  }
  .col-lg-push-8 {
    right: 66.66667%;
  }
  .col-lg-push-9 {
    right: 75%;
  }
  .col-lg-push-10 {
    right: 83.33333%;
  }
  .col-lg-push-11 {
    right: 91.66667%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {

    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-offset-0 {
    margin-right: 0;
  }
  .col-lg-offset-1 {
    margin-right: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-right: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-right: 25%;
  }
  .col-lg-offset-4 {
    margin-right: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-right: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-right: 50%;
  }
  .col-lg-offset-7 {
    margin-right: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-right: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-right: 75%;
  }
  .col-lg-offset-10 {
    margin-right: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-right: 91.66667%;
  }
}
@media (max-width: 480px) {
  .col-sp-2-4, .col-sp-4-8,
  .col-sp-7-2, .col-sp-9-6 {
    float: right;
  }
	ul.sunfw-tpl-menu .caret:before {
		content: "\f104";
	}
}
@media (max-width: 768px) and (min-width: 481px) {
  .col-xs-2-4, .col-xs-4-8,
  .col-xs-7-2, .col-xs-9-6 {
    float: right;
  }
}
@media (min-width: 768px) {
  .col-sm-2-4, .col-sm-4-8,
  .col-sm-7-2, .col-sm-9-6 {
    float: right;
  }
  .navbar-nav {
    float: right;
	}
}
@media (min-width: 992px) {
  .col-md-2-4, .col-md-4-8,
  .col-md-7-2, .col-md-9-6 {
    float: right;
  }
}

@media (min-width: 1200px) {
  .col-lg-2-4, .col-lg-4-8,
  .col-lg-7-2, .col-lg-9-6 {
    float: right;
  }
}
.pull-right {
  float: left !important;
}
.pull-left {
  float: right !important;
}
.text-right {
    text-align: left !important;
}
.text-left {
    text-align: right !important;
}
.nav {
  padding-right: 0;
  padding-left: inherit;
}
.list-unstyled {
    padding-right: 0;
    padding-left: inherit;
}
.list-inline {
  margin-right: -5px;
  margin-left: inherit;
  padding-right: 0;
  padding-left: inherit;
}
.btn-toolbar .btn-group {
	float: right;
}
.dl-horizontal dt {
    float: right;
    clear: right;
}
.dl-horizontal dd {
    margin-right: 180px;
}
th {
    text-align: right;
}
.chzn-container-single {
	.chzn-single div {
		left: 0;
		right: auto;
	}
	.chzn-drop,
	&.chzn-container-single-nosearch .chzn-search {
		left: 9999px;
	}
}
.pager ul li > a, .pager ul li > span {
    display: inline-table;
}
.radio,
.checkbox {
	label {
		padding-right: 20px;
		padding-left: 0;
	}
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
	margin-left: 0;
}
.input-group-addon:first-child {
  border-left: 0;
  border-right: 1px solid #d5d6d8;
}
.sunfw-direction-rtl ul.newsfeed {
	padding: 0;
}
.sunfw-direction-rtl .module-title i.fa {
    padding-right: 0;
    padding-left: 8px !important;
}
.sunfw-direction-rtl .login-topbar {
    float: none;
}
.stats-module {
	dd {
		margin-right: 0;
	}
}
.sunfw-direction-rtl .nav{
  padding-right: 0;
}